main.about_page h1 {
	font-size: 44px;
	color: #1a1a1a;
	margin-bottom: 80px;
}

main.about_page .video_part {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 120px;
	position: relative;
	background: rgb(242,246,246);
	background: -webkit-gradient(linear, left top, right top, from(rgba(242,246,246,1)), color-stop(55%, rgba(242,246,246,1)), color-stop(55.001%, rgba(255,255,255,1)), to(rgba(255,255,255,1)));
	background: linear-gradient(to right, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 55%, rgba(255,255,255,1) 55.001%, rgba(255,255,255,1) 100%);
}
main.about_page .video_part:after {
	content: '';
	position: absolute;
	display: block;
	right: 0;
	bottom: 80px;
	width: 20vw;
	height: 7px;
	background-color: #afdaa8;
	z-index: 0;
}
main.about_page .video_part .container {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	        justify-content: flex-start;
}
main.about_page .video_part .text_part {
	width: 650px;
	padding-right: 100px;
}
main.about_page .video_part h2 {
	font-size: 34px;
	font-weight: 700;
	width: 100%;
	text-align: left;
	line-height: 1.4;
	color: #1a1a1a;
	margin: 0;
	padding: 0;
}
main.about_page .video_part .divider_horizontal {
	width: 160px;
	height: 3px;
	background-color: #afdaa8; 
	margin: 50px 0;
}
main.about_page .video_part p {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 300;
	color: #1a1a1a;
	line-height: 1.5;
}
main.about_page .video_part .video_wrap {
	margin-top: 20px;
	min-width: 795px;
	height: 480px;
	position: relative;
	z-index: 1;
}


main.about_page .employes_part .group_photo {
	width: 100%;
}
main.about_page .employes_part .group_photo img {
	width: 100%;
}
main.about_page .employes_part h2 {
	font-size: 34px;
	font-weight: 700;
	width: 100%;
	text-align: left;
	color: #1a1a1a;
	margin:100px 0;
	padding: 0;
}
main.about_page .employes_part .employe_row {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	        justify-content: space-between;
}
main.about_page .employes_part .employ_block {
	width: 290px;
	display: inline-block;
	height: 670px;
	text-align: center;
}
main.about_page .employ_block .photo{
	width: 270px;
	height: 270px;
	margin: 0 auto;
	border-radius: 50%;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	        justify-content: center;
	background-color: #f6f6f6;
	overflow:hidden;
}
main.about_page .employ_block .photo img {
	width: 100%;
}
main.about_page .employ_block .name {
	font-size: 22px;
	width: 100%;
	text-align: center;
	color:#1a1a1a;
	margin: 60px 0 35px 0;
}
main.about_page .employ_block .position {
	font-size: 16px;
	width: 100%;
	text-align: center;
	color:#1a1a1a;
}
main.about_page .employ_block .description {
	color: #8f8f8f;
	font-size: 16px;
	width: 100%;
	text-align: center;
	margin-top: 35px;
}
main.about_page .company_history {
	width: 100%;
	background-color: #f2f6f6;
	padding-top: 100px;
	padding-bottom: 100px;
}
main.about_page .company_history h2 {
	font-size: 34px;
	font-weight: 700;
	width: 100%;
	text-align: left;
	color: #1a1a1a;
	margin:0;
	margin-bottom: 100px;
	padding: 0;
}
main.about_page .history_content {
	position: relative;
	padding-top: 120px;
	padding-bottom: 150px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: 1fr;
	grid-gap: 0;
	grid-auto-flow:dense;
}
main.about_page .content_line {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
	pointer-events: none;
	width: 3px;
	height: 100%;
	background-color: #498786;
} 
main.about_page .content_line span {
	display: block;
	width: 8px;
	height: 4px;
	position: absolute;
	top: 0px;
	left: -6px;
	transform: skewY(-40deg);
	background-color: #498786;
}
main.about_page .content_line span:nth-child(2) {
	display: block;
	width: 8px;
	height: 4px;
	position: absolute;
	top: 0px;
	left: 2px;
	transform: skewY(40deg);
	background-color: #498786;
}
main.about_page .content_line:after {
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #498786;
	bottom: 0;
	left: -4px;
	position: absolute;
}
main.about_page .history_block {
	margin-bottom: 150px;
	width: 100%;
	padding-right: 100px;
	padding-top: 40px;
	position: relative;
	border-top:3px solid #498786;
}
main.about_page .history_block:nth-child(odd){
	padding-right: 0;
	padding-left: 100px;
	bottom: -200px;
}
main.about_page .history_block:last-child{
	margin-bottom:50px;
}
main.about_page .history_block:after{
	content: '';
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	top: -7px;
	left: 0;
	border-radius: 50%;
	background-color: #498786;
}
main.about_page  .history_block:nth-child(odd):after{
	left: auto;
	right: 0;
}
main.about_page .history_block .date {
	font-size: 22px;
	line-height: 80px;
	text-align: center;
	font-weight: 700;
	color: #ffffff;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #a8d1a1;
	border:3px solid #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 9px rgba(175,218,168,1);
	-moz-box-shadow: inset 0px 0px 0px 9px rgba(175,218,168,1);
	box-shadow: inset 0px 0px 0px 9px rgba(175,218,168,1);
	position: absolute;
	top: -45px;
	right: -45px;
	z-index: 10;
}
main.about_page .history_block .date:before {
	content: '';
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	left: -6px;
	top: -6px;
	border:3px solid #498786;
}
main.about_page  .history_block:nth-child(odd) .date {
	background-color: #7fb594;
	border:3px solid #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 9px rgba(132,188,154,1);
	-moz-box-shadow: inset 0px 0px 0px 9px rgba(132,188,154,1);
	box-shadow: inset 0px 0px 0px 9px rgba(132,188,154,1);
	right: auto;
	left: -45px;
}
main.about_page .history_block .title {
	font-size: 22px;
	line-height: 1;
	color:#1a1a1a;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: -65px;
}
main.about_page  .history_block:nth-child(odd) .title {
	left:100px;
}
main.about_page .history_block p {
	width: 100%;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 20px;
	display: block;
	background-color: #e8f1f0;
	border:1px dashed #a4cf9a; 
	position: relative;
	margin-left: 5px;
	border-radius: 0 5px 5px 5px;
}
main.about_page .history_block:nth-child(odd) p {
	width: calc(100% - 5px);
	margin-left: 0;
	border-radius: 5px 0 5px 5px;
}
main.about_page .history_block p:after {
	content: '';
	display: block;
	width: 15px;
	height: 20px;
	position: absolute;
	left: -1px;
	top: -10px;
	transform: skewY(45deg);
	background-color: #e8f1f0;
	border-top:1px dashed #a4cf9a; 
	border-left:1px dashed #a4cf9a; 
}
main.about_page .history_block:nth-child(odd) p:after {
	left: auto;
	right: -1px;
	transform: skewY(-45deg);
	border-left:none; 
	border-right:1px dashed #a4cf9a; 
}
main.about_page .history_block .history_slider {
	padding: 0 60px;
}
.slick-prev, .slick-next {
	width: 20px;
	height: 60px;
	background-image: url(img/slider_arrow-right.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.slick-prev {
	-webkit-transform: rotateY(180deg) translate(0, -50%);
	        transform: rotateY(180deg) translate(0, -50%);
	left: 0;
}
.slick-next {
	right: 15px;
}
.slick-prev:before, .slick-next:before {
	display: none;
}
.slick-prev:focus, .slick-next:focus,
.slick-prev:hover, .slick-next:hover {
	opacity: 1;
	background-image: url(img/slider_arrow-right.png);
}
main.about_page .history_block .slick-slide img {
	width: 90%;
	margin-left: 5%;
}



@media all and (max-width: 1460px) {
	main.about_page h1 {
		margin-top: 0px;
		margin-bottom: 40px;
		font-size: 34px;
	}
	main.about_page .video_part .video_wrap {
		min-width: 630px;
		height: 400px;
	}
	main.about_page .video_part .text_part {
		padding-right: 50px;
	}
	main.about_page .employes_part .employ_block {
		width: 230px;
		height: 580px;
	}
	main.about_page .employ_block .photo {
		width: 230px;
		height: 230px;
	}
	main.about_page .employes_part h2 {
		font-size: 32px;
		margin: 70px 0;
	}
	main.about_page .employ_block .name {
		margin: 35px 0px;
	}
	main.about_page .company_history {
		padding-top: 70px;
	}
	main.about_page .company_history h2 {
		font-size: 32px;
		margin-bottom: 70px;
	}
	main.about_page .history_block .history_slider {
		padding: 0 40px;
	}
	.slick-next {
		right: 10px;
	}
	main.about_page .video_part h2 {
		font-size: 32px;
	}
}
@media all and (max-width: 1230px) {
	main.about_page .video_part .video_wrap {
	    min-width: 445px;
	    height: 275px;
	}
	main.about_page .video_part .text_part {
		width: 50%;
		padding-right: 30px;
	}
	main.about_page .video_part {
		padding-top: 50px;
		padding-bottom: 30px;
	}
	main.about_page .video_part .divider_horizontal {
		margin: 30px 0;
	}
	main.about_page .video_part p {
		font-size: 14px;
	}
	main.about_page .video_part:after {
		bottom: 100px;
	}
	main.about_page .employes_part h2 {
		margin: 40px 0;
	}
	main.about_page .employes_part .employ_block {
		width: 200px;
		height: 510px;
	}
	main.about_page .employ_block .photo {
		width: 200px;
		height: 200px;
	}
	main.about_page .employ_block .name {
		margin: 25px 0;
		font-size: 18px;
	}
	main.about_page .employ_block .description {
		font-size: 14px;
		margin-top: 25px;
	}
	main.about_page .company_history {
		padding-top: 40px;
	}
	main.about_page .company_history h2 {
		margin-bottom: 40px;
	}
	main.about_page .history_block .date {
		font-size: 20px;
	}
	main.about_page .history_block .title {
		font-size: 20px;
		margin: 15px 0;
	}
	main.about_page .history_block p {
		font-size: 14px;
	}
	main.about_page .history_block {
		margin-bottom: 100px;
		padding-right: 70px;
		padding-top: 40px;
	}
	main.about_page .history_block:nth-child(odd){
		padding-left: 70px;
		bottom: -160px;
	} 
	main.about_page .history_block:nth-child(odd) .title {
		left: 70px;
	}
}
@media all and (max-width: 900px) {
	.breadcrumbs {
		display: none;
	}
	main.about_page h1 {
		margin: 30px 0;
	}
	main.about_page .video_part{
		padding-top: 30px;
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(242,246,246,1)), color-stop(55%, rgba(242,246,246,1)), color-stop(55.001%, rgba(255,255,255,1)), to(rgba(255,255,255,1)));
		background: linear-gradient(to bottom, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 55%, rgba(255,255,255,1) 55.001%, rgba(255,255,255,1) 100%);
	}
	main.about_page .video_part .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}
	main.about_page .video_part .text_part {
		width: 100%;
		padding-right: 0;
	}
	main.about_page .video_part:after {
		bottom: 0;
		width: 50%;
	}
	main.about_page .video_part .video_wrap {
		min-width: 600px;
		margin: 0 auto;
		height: 380px;
	}
	main.about_page .employes_part .container {
		padding: 0;
	}
	main.about_page .employes_part h2 {
		padding: 0 20px;
	}
	main.about_page .employes_part .employe_row {
		display: block;
		padding: 0 20px;
	}
	main.about_page .employes_part .employ_block {
		width: 47%;
		height: 440px;
	}
	main.about_page .employes_part .employ_block:nth-child(3),
	main.about_page .employes_part .employ_block:nth-child(4) {
		display: none;
	}
	main.about_page .history_block {
		width: 100%;
	}
	main.about_page .history_block .date {
		width: 70px;
		height: 70px;
		top: -35px;
		right: -35px;
		line-height: 60px;
		font-size: 18px;
	}
	main.about_page .history_block:nth-child(odd) .date {
		left: -35px;
	}
	main.about_page .company_history {
		padding-bottom: 70px;
	}
	main.about_page .history_block .date:before {
		width: 70px;
		height: 70px;
	}
}
@media all and (max-width: 768px) {
	main.about_page .employes_part .employ_block {
		width: 100%;
		margin-right: 0;
	}
	main.about_page .employ_block .description {
		max-width: 400px;
		margin: 0 auto;
		margin-top: 25px;
	}
	main.about_page .history_block:nth-child(odd) {
		padding-left: 55px;
	}
	main.about_page .history_block {
		padding-right: 55px;
	}
	main.about_page .history_block:nth-child(odd) .title {
		left: 55px;
	}
}
@media all and (max-width: 630px) {
	main.about_page .video_part .video_wrap {
		min-width: 320px;
		height: 205px;
	}
	main.about_page .employes_part .group_photo {
		height: 240px;
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		        align-items: center;
		overflow:hidden;
		-webkit-box-pack: center;
		        justify-content: center;
	}
	main.about_page .employes_part .group_photo img {
		height: 100%;
		width: auto;
	}
	main.about_page .video_part:after {
		height: 5px;
	}
	.history_slide.slick-slide>img {
		width: 90%;
	}
	.slick-prev, .slick-next {
		width: 10px;
		height: 25px;
	}
	main.about_page .history_content {
		grid-template-columns: 100%;
	}
	main.about_page .history_block:nth-child(odd) {
		bottom: 0;
		padding-left: 0;
		padding-right: 55px;
	}
	main.about_page .content_line {
		left: 100%;
	}
	.company_history .container {
		padding-right: 50px;
	}
	main.about_page .history_block:nth-child(odd):after {
		left: 0;
		right: auto;
	}
	main.about_page .history_block:nth-child(odd) .date {
		left: auto;
		right: -35px;
	}
	main.about_page .history_content {
		padding-bottom: 0;
	}
	main.about_page .company_history {
		padding-bottom: 40px;
	}
	main.about_page .history_block:nth-child(odd) .title,
	main.about_page .history_block .title {
		left: 20px;
	}
	main.about_page .history_block:nth-child(odd) p:after {
		left: -1px;
		right: auto;
		transform: skewY(45deg);
		border-right:none; 
		border-left:1px dashed #a4cf9a; 
	}
	main.about_page .history_block:nth-child(odd) p {
		margin-right: 0;
		margin-left: 5px;
		width: 100%;
	}
	main.about_page .history_block {
		margin-bottom: 30px;
		margin-top: 70px;
	}
	main.about_page .history_content {
		padding-top: 0px;
	}
} 
@media all and (max-width: 420px) {
	main.about_page .company_history h2,
	main.about_page .employes_part h2, main.about_page .video_part h2 {
		font-size: 20px;
	}
	main.about_page h1 {
		font-size: 24px;
	}
	main.about_page .video_part .video_wrap {
		min-width: 280px;
		height: 180px;
	}
	main.about_page .history_block .date:before, 
	main.about_page .history_block .date {
		width: 50px;
		height: 50px;
	}
	main.about_page .history_block .date {
		right: -25px;
		top: -25px;
		font-size: 14px;
		line-height: 45px;
	}
	main.about_page .history_block:nth-child(odd) .date {
		right: -25px;
		top: -25px;
	}
	main.about_page .history_block,
	main.about_page .history_block:nth-child(odd) {
		padding-right: 30px;
	}
	.company_history .container {
		padding-right: 40px;
	}
	main.about_page .history_block .title {
		font-size: 18px;
	}
	main.about_page .history_block p {
		font-size: 12px;
	}
}