/* === COMMON STYLES === */

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	width: 100%;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	transition: all .2s linear;
	font-family: 'SF UI Display', sans-serif;
}
a {
	font-family: 'SF UI Display', sans-serif;
	text-decoration: none;
	color: #fff;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
button:focus {
	outline: none;
}

.container {
	width: 100%;
	max-width: 1490px;
	margin: 0 auto;
	padding: 0 15px;
}
.container_wide {
	width: 100%;
	max-width: 1780px;
	margin: 0 auto;
	padding: 0 15px;
}

main {
	width: 100%;
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.mobile {
	display: none;
}
.hamburger {
	width: 40px;
	height: 40px;
	background-color: #84bc99;
	position: relative;
	overflow: hidden;
	display: none;
	padding-left: 13px;
	padding-top: 13px;
}
.hamburger span {
	display: block;
	position: relative;
	width: 14px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 3px;
	cursor: pointer;
}

#mobileMenu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: #182b3a;
	padding-top: 25px;
	transition: all .2s ease-in-out;
	transform: translateX(-110%);
}
#mobileMenu.active {
	display: block;
	transform: translateX(0%);
}
#mobileMenu ul {
	width: 100%;
	height: 100%;
}
#mobileMenu ul li {
	width: 100%;
	height: 65px;
}
#mobileMenu ul li a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 45px;
	padding-right: 50px;
	line-height: 65px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	transition: none;
}
#mobileMenu ul li a:hover {
	color: #d4ef9e;
	background-color: #132330;
}
#mobileMenu ul li a i{
	font-size: 18px;
}
#mobileMenu .closePopup {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 15px;
}
#mobileMenu .closePopup>span {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 9px;
}
#mobileMenu .closePopup>span:nth-child(1) {
	transform: rotateZ(45deg);

}
#mobileMenu .closePopup>span:nth-child(2) {
	transform: rotateZ(-45deg);
}
footer {
	width: 100%;
	background-color: #182b3a;
}
footer .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 35px 15px;
}
footer .title {
	font-size: 16px;
	color: #a8abb0;
	margin-bottom: 30px;
}
footer .logo_wrap {
	margin-bottom: 25px;
}
footer .copyright p{
	color: #a8abb0;
	font-size: 16px;
	margin: 5px 0;
}
footer .copyright a {
	color: #4a8686;
	font-size: 16px;
}
footer .contacts a{
	display: block;
	margin:5px 0;
	font-size: 16px;
}
footer .contacts a i {
	font-size: 14px;
	margin-right: 10px;
}
footer .social a {
	display: inline-block;
	width: 25px;
	height: 25px;
	border:2px solid #afdbaa;
	color:#afdbaa;
	border-radius: 50%;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	margin-right: 10px;
}
footer .social a:last-child {
	margin-right: 0;
}
footer .blockchain p {
	font-size: 16px;
	margin:5px 0;
	padding: 0;
	color:#fff;
}
footer .blockchain p i{
	display: inline-block;
	margin-right: 10px;
}

@media all and (max-width: 1460px) {
	.container, .container_wide {
		max-width: 1200px;
	}
}
@media all and (max-width: 1230px) {
	.container, .container_wide {
		max-width: 870px;
	}
	footer .copyright p, footer .blockchain p,
	footer .contacts a {
		font-size: 14px;
	}
}
@media all and (max-width: 900px) {
	.mobile {
		display: block;
	}
	footer .container {
		padding: 30px 20px;
		display: block;
	}
	footer .title,
	footer .copyright p:nth-child(3),
	footer .blockchain {
		display: none;
	}
	footer .copyright {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	footer .copyright p {
		font-size: 10px;
		margin-bottom: 30px;
		margin-top: 0;
	}
	footer .contacts, footer .social {
		display: inline-block;
		width: 49.6%;
	}
	footer .social {
		text-align: right;
	}
}
@media all and (max-width: 420px) {
	footer .copyright p, footer .contacts a,footer .contacts a i {
		font-size: 10px;
	}
	footer .social, 
	footer .contacts {
		height: 40px;
	}
	footer .social .social_links {
		height: 100%;
	}
}


/* === MAIN PAGE STYLE === */

header.main_header {
	width: 100%;
	height: 100vh;
	background-image: url(img/bcg_main_header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}
header.main_header .topbar {
	width: 100%;
	height: 75px;
}
header.main_header .topbar .container {
	justify-content: space-between;
	align-items: flex-end;
	display: flex;
	width: 100%;
	height: 100%;
}
header.main_header .topbar .container .nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
header.main_header .topbar .container .nav ul li {
	padding: 0;
	margin:0 20px;
}
header.main_header .topbar .container .nav ul li a {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	transition: none;
}
header.main_header .topbar .container .nav ul li a:hover {
	color: #b0b0b0;
}
header.main_header .topbar .container .contacts{
	display: flex;
	align-items: center;
	justify-content: center;
}
header.main_header .topbar .container .contacts a {
	font-size: 16px;
	transition: none;
	font-weight: 400;
}
header.main_header .topbar .container .contacts a:hover {
	color: #b0b0b0;
}
header.main_header .topbar .container .contacts a:first-child {
	margin-right: 40px;
}
header.main_header .topbar .container .contacts a i {
	font-size: 16px;
	color: #fff;
	margin-right: 15px;
	display: inline-block;
	transition: none;
}
header.main_header .topbar .container .contacts a:hover i {
	color: #b0b0b0;
}
header.main_header .topbar .container .languge_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
header.main_header .topbar .container .languge_wrap a {
	font-size: 16px;
	transition: none;
	font-weight: 400;
}
header.main_header .topbar .container .languge_wrap a.active {
	color: #b0b0b0;
}
header.main_header .topbar .container .languge_wrap .divider {
	width: 2px;
	height: 16px;
	background-color: #fff;
	margin: 0 20px;
}
header.main_header .seo_text h1{
	font-size: 60px;
	font-weight: 700;
	margin-top: 11vh;
	margin-bottom: 0;
	color: #fff;
	line-height: 1.4;
}	
header.main_header .seo_text p {
	font-size: 50px;
	font-weight: 100;
	margin-top: 0;
	margin-bottom:10vh;
	color: #fff;
	width: 800px;
	line-height: 1.4;
}
header.main_header .seo_text a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 320px;
	border-radius: 40px;
	color: #1a1a1a;
	font-weight: 700;
	text-align: center;
	font-size: 24px;
	background-color: #d3ef9f;
}
header.main_header .seo_text a:hover {
	background-color: #bfee67;
}
header.main_header .seo_text a i {
	font-size: 18px;
	color: #1a1a1a;
	display: inline-block;
	margin-right: 15px;
	width: 25px;
	height: 25px;
	border:2px solid #1a1a1a;
	border-radius: 50%;
	line-height: 22px;
	padding-left: 3px;
}
header.main_header .advantages {
	width: 100%;
	height: 25vh;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow:hidden;
}
header.main_header .advantages .container_wide {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
header.main_header .advantages .adv_block {
	width: 16.66667%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
header.main_header .advantages .adv_block img {
	margin-bottom: 14%;
}
header.main_header .advantages .adv_block p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #fff;
	font-weight: 100;
	width: 80%;
}

section.description {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 90px;
	position: relative;
	background: rgb(242,246,246);
	background: -webkit-linear-gradient(left, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 55%, rgba(255,255,255,1) 55.001%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 55%, rgba(255,255,255,1) 55.001%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 55%, rgba(255,255,255,1) 55.001%, rgba(255,255,255,1) 100%);
}
section.description:after {
	content: '';
	position: absolute;
	display: block;
	right: 0;
	bottom: 18vh;
	width: 20vw;
	height: 7px;
	background-color: #afdaa8;
	z-index: 0;
}
section.description .container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
section.description .text_wrap {
	width: 650px;
	padding-right: 90px;
}
main.main_page h2 {
	font-size: 34px;
	font-weight: 700;
	width: 100%;
	text-align: left;
	line-height: 1.4;
	color: #1a1a1a;
	margin: 0;
	padding: 0;
}
main.main_page .divider_horizontal {
	width: 160px;
	height: 3px;
	background-color: #afdaa8; 
	margin: 50px 0;
}
main.main_page p {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 300;
	color: #1a1a1a;
	line-height: 1.5;
}
section.description .video_wrap {
	margin-top: 20px;
	width: 795px;
	height: 480px;
	position: relative;
	z-index: 1;
}

section.use {
	width: 100%;
}
.use_block {
	width: 32%;
	height: 335px;
	display: inline-block;
	margin-left: 1.6%;
	position: relative;
	margin-bottom: 1.3vw;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.2s ease;
}
.use_block.narrow {
	width: 23.6%;
	height: 430px;
	margin-left: 1.6%;
	margin-bottom: 0;
}
.use_block:nth-child(1),
.use_block:nth-child(4),
.use_block:nth-child(7) {
	margin-left: 0;
}
.use_block .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(29,73,107,0.9);
	padding-left: 40px;
	padding-top: 20px;
	padding-right: 30px;
	top:270px;
} 
.use_block.narrow  .overlay {
	top: 365px;
}
.use_block:hover .overlay {
	top: 0;
}
.use_block.first {
	overflow: visible;
}
.use_block.first .overlay {
	background-color: #84bc99;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding:0;
	z-index: 2;
	top: 0;
}
.use_block.first .overlay .title {
	font-size: 34px;
	font-weight: 700;
	padding-left: 85px;
	position: relative;
}
.use_block.first .overlay .title:before {
	height: 90%;
	width: 6px;
	background-color: #1d4a6b;
	content: '';
	position: absolute;
	left: 0;
	top: 5%;
	display: block;
}
.use_block.first .overlay:after {
	content: '';
	width: 50px;
	height: 30px;
	transform: rotateZ(121deg) skew(-25deg) translateY(20%);
	background-color: #84bc99;
	right: -18px;
	top: 50%;
	position: absolute;
	display: block;
	z-index: 1;
} 
.use_block.chemicals {
	background-image: url(img/bcg_use_agro.jpg);
}
.use_block.forest {
	background-image: url(img/bcg_use_forest.jpg);
}
.use_block.oil_logistic {
	background-image: url(img/bcg_use_oil-logistic.jpg);
}
.use_block.post_logistic {
	background-image: url(img/bcg_use_post-logistic.jpg);
}
.use_block.sea_delivery {
	background-image: url(img/bcg_use_sea-delivery.jpg);
}
.use_block.narrow.geodesic {
	background-image: url(img/bcg_use_geodesical.jpg);
}
.use_block.narrow.instruments {
	background-image: url(img/bcg_use_instrumental-control.jpg);
}
.use_block.narrow.weather  {
	background-image: url(img/bcg_use_weather.jpg);
}
.use_block.narrow.emergency {
	background-image: url(img/bcg_use_emergency.jpg);
}
.use_block .overlay .title {
	font-size: 20px;
	color:#fff;
}
.use_block .overlay p {
	font-size: 16px;
	color: #fff;
	margin-bottom: 0;
	padding: 0;
	margin-top: 20px;
}

section.techDescription {
	width: 100%;
	position: relative;
}
section.techDescription:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 202px;
	width: 30vw;
	height: 30px;
	background-color: #afdaa8;
	z-index: 0;
}
section.techDescription .text_wrap {
	padding-top: 110px;
	padding-bottom: 80px;
	background: rgb(242,246,246);
	background: -webkit-linear-gradient(left, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 55%, rgba(255,255,255,1) 55.001%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 55%, rgba(255,255,255,1) 55.001%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 55%, rgba(255,255,255,1) 55.001%, rgba(255,255,255,1) 100%);
}
section.techDescription .text_wrap h2 {
	width: 650px;
	padding-right: 90px;
}
section.techDescription .text_wrap p {
	width: 650px;
	padding-right: 90px;
}
section.techDescription .infografic {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
section.techDescription .icon_wrap {
	width: 50%;
	display: inline-block;
	padding-left: 11vw;
	padding-top: 80px;
	padding-bottom: 70px;
}
section.techDescription .icon_block {
	width: 49%;
	display: inline-block;
	margin-bottom: 50px;
	padding-right: 50px;
	overflow:visible;
	height: 67px;
}
section.techDescription .icon_block .inner_wrap {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
section.techDescription .icon_block .icon {
	width: 67px;
	min-width: 67px;
	height: 67px;
	border-radius:50%;
	border:2px solid #84bc9a;
	margin-right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
section.techDescription .icon_block p {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
section.techDescription .infografic .img_wrap {
	position: relative;
	width: 50%;
	z-index: 2;
}
section.techDescription .infografic .img_wrap img {
	position: relative;
	left: 0;
	top: -200px;
	width: 100%;
	height: auto;
}

section.partners {
	width: 100%;
	background-color: #f7f7f7;
	padding-top: 110px;
	padding-bottom: 100px;
}
section.partners h2 {
	margin-bottom: 80px;
}
section.partners .partner_block {
	text-align: center;
}
section.partners .partner_block img {
	display: block;
	margin:0 auto;
}
section.partners .slider_wrap {
	padding: 0 90px;
}
.slick-prev, .slick-next {
	width: 20px;
	height: 60px;
	background-image: url(img/slider_arrow-right.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.slick-prev {
	transform: rotateY(180deg) translate(0, -50%);
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-prev:before, .slick-next:before {
	display: none;
}
.slick-prev:focus, .slick-next:focus,
.slick-prev:hover, .slick-next:hover {
	opacity: 1;
	background-image: url(img/slider_arrow-right.png);
}

@media all and (max-width: 1690px) {
	section.techDescription .icon_wrap {
		padding-left: 6vw;
	}
}
@media all and (max-width: 1520px) {
	header.main_header .advantages .adv_block p {
		font-size: 16px;
	}
} 
@media all and (max-width: 1460px) {
	header.main_header .topbar .logo_wrap img{
		width: 160px;
	}
	header.main_header .topbar .container .nav ul li {
		margin: 0 10px;
	}
	header.main_header .topbar .container .nav ul li a {
		font-size: 14px;
	}
	header.main_header .topbar .container {
		align-items: center;
	}
	header.main_header .seo_text h1 {
		font-size: 46px;
	}
	header.main_header .seo_text p {
		font-size: 34px;
	}
	header.main_header .advantages .adv_block p {
		width: 85%;
		font-size: 14px;
	}
	header.main_header .advantages .adv_block img {
		width: 35px;
	}
	section.description .video_wrap {
		height: 380px;
	}
	section.description .text_wrap {
		padding-right: 50px;
	}
	section.description:after {
		bottom: 30vh;
	}
	.use_block {
		height: 235px;
	}
	.use_block .overlay {
		top: 180px;
		padding-left: 20px;
		padding-top: 16px;
	}
	.use_block .overlay p {
		font-size: 12px;
		margin-top: 12px;
	}
	.use_block.first .overlay .title {
		font-size: 28px;
		padding-left: 60px;
	}
	.use_block.narrow {
		width: 49%;
		height: 340px;
	}
	.use_block.narrow .overlay {
		top: 285px;
	}
	.use_block.narrow:hover .overlay {
		top: 0;
	}
	.use_block:nth-child(7),
	.use_block:nth-child(8) {
		margin-bottom: 1.3vw;
	}
	.use_block:nth-child(9) {
		margin-left: 0;
	}
	section.techDescription .infografic .img_wrap img {
		top: -200px;
	}
	section.techDescription:after {
		bottom: 340px;
	}
	section.techDescription .icon_wrap {
		padding-left: 0;
		padding-bottom: 50px;
		padding-top: 60px;
	}
	section.techDescription .icon_block .icon {
		width: 50px;
		min-width: 50px;
		height: 50px;
		margin-right: 15px;
	}
	section.techDescription .icon_block .icon img{
		width: 70%;
	}
	section.techDescription .icon_block {
		padding-right: 30px;
	}
	section.techDescription .icon_block p {
		font-size: 12px;
	}
	section.partners .partner_block img {
		max-width: 80%;
	}
	section.partners .slider_wrap {
		padding: 0 50px;
	}
}
@media all and (max-width: 1230px) {
	header.main_header .topbar .logo_wrap img {
		width: 110px;
	}
	header.main_header .topbar .container .nav ul li a {
		font-size: 12px;
	}
	header.main_header .topbar .container .contacts a {
		font-size: 13px;
	}
	header.main_header .topbar .container .contacts a i {
		font-size: 12px;
		margin-right: 5px;
	}
	header.main_header .topbar .container .nav ul li {
		margin: 0 7px;
	}
	header.main_header .topbar .container .contacts a:first-child {
		margin-right: 10px;
	}
	header.main_header .topbar .container .languge_wrap .divider {
		margin: 0 7px;
	}
	header.main_header .topbar .container .languge_wrap a {
		font-size: 12px;
	}
	header.main_header .seo_text p {
		width: 650px;
	}
	header.main_header .seo_text a {
		width: 280px;
		height: 60px;
		font-size: 16px;
		border-radius: 30px;
		margin-bottom: 80px;
	}
	header.main_header .advantages .container_wide {
		display: block;
		padding: 30px 15px;
		padding-bottom: 10px;
	}
	header.main_header .advantages .adv_block {
		display: inline-block;
		width: 31%;
		margin-left: 1.9%;
	}
	header.main_header .advantages .adv_block:nth-child(4),
	header.main_header .advantages .adv_block:nth-child(1) {
		margin-left: 0;
	}
	header.main_header .advantages {
		height: auto;
		position: relative;
	}
	header.main_header {
		height: auto;
	}
	header.main_header .advantages .adv_block {
		margin-bottom: 30px;
	}
	header.main_header .advantages .adv_block img {
		margin-bottom: 10px;
	}
	section.description {
		padding-top: 50px;
		padding-bottom: 30px;
	}
	main.main_page h2 {
		font-size: 26px;
	}
	section.description .video_wrap {
		width: 50%;
		height: 260px;
	}
	section.description .text_wrap {
		width: 50%;
		padding-right: 15px;
	}
	main.main_page .divider_horizontal {
		margin: 30px 0;
	}
	main.main_page p {
		font-size: 14px;
	}
	section.description:after {
		bottom: 275px;
		width: 23vw;
		height: 5px;
	}
	.use_block {
		height: 200px;
		width: 31%;
	}
	.use_block .overlay {
		top: 170px;
		padding-top: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.use_block .overlay .title {
		font-size: 14px;
	}
	.use_block .overlay p:nth-child(2) {
		margin-top: 15px;
	}
	.use_block .overlay p {
		font-size: 12px;
		margin-top: 0;
		line-height: 1.2;
	}
	.use_block.first .overlay .title {
		font-size: 24px;
		padding-left: 45px;
	}
	.use_block.narrow {
		width: 47.5%;
		height: 270px;
	}
	.use_block.narrow .overlay {
		top: 230px;
		padding-top: 13px;
	}
	.use_block.narrow:hover .overlay {
		top: 0px;
	}
	.use_block.narrow .overlay p {
		font-size: 12px;
		margin-top: 10px;
	}
	section.techDescription .infografic .img_wrap img {
		top: -138px;
	}
	section.techDescription .text_wrap p {
		width: 550px;
	}
	section.techDescription .icon_wrap {
		padding-top: 20px;
		padding-bottom: 10px;
		width: 60%;
	}
	section.techDescription .icon_block {
		height: 50px;
		margin-bottom: 40px;
		padding-right: 15px;
	}
	section.techDescription .text_wrap {
		padding-top: 50px;
		padding-bottom: 30px;
		background: rgb(242,246,246);
		background: -webkit-linear-gradient(left, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 65%, rgba(255,255,255,1) 65.001%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(left, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 65%, rgba(255,255,255,1) 65.001%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 65%, rgba(255,255,255,1) 65.001%, rgba(255,255,255,1) 100%)6	
	}
	section.techDescription:after {
		bottom: 362px;
	}
	section.techDescription .infografic .img_wrap {
		width: 40%;
	}
	section.partners .slider_wrap {
		height: 70px;
	}
	section.partners .partner_block img {
		width: auto;
		height: 70px;
	}
	section.partners {
		padding-top: 50px;
		padding-bottom: 80px;
		overflow:hidden;
	}
	section.partners h2 {
		margin-bottom: 40px;
	}
}
@media all and (max-height: 700px) {
	header.main_header .seo_text h1 {
		margin-top: 8vh;
	}
	header.main_header .seo_text p {
		margin-bottom: 7vh;
	}
	header.main_header .seo_text a {
		width: 280px;
		height: 60px;
		border-radius: 30px;
		font-size: 18px;
	}
}
@media all and (max-height: 620px) {
	header.main_header .seo_text h1 {
		font-size: 42px;
		margin-top: 5vh;
	}
	header.main_header .seo_text p {
		font-size: 30px;
		width: 500px;
	}
	header.main_header .seo_text a {
		width: 250px;
	}
} 
@media all and (max-width: 900px) {
	.hamburger {
		display: inline-block;
	}
	header.main_header .topbar .container .nav,
	header.main_header .topbar .container .contacts {
		display: none;
	}
	header.main_header .topbar .container {
		height: 40px;
		padding-left: 0;
		width: 100%;
		max-width: 900px;
	}
	header.main_header .topbar .logo_wrap, 
	header.main_header .topbar .container .languge_wrap,
	header.main_header .topbar .container .languge_wrap>* {
		display: inline-block;
	}
	header.main_header .topbar .container .languge_wrap a {
		font-size: 14px;
	}
	header.main_header .topbar .container .languge_wrap {
		position: relative;
		right: 0;
	}
	section.techDescription .infografic {
		flex-direction: column-reverse;
	}
	section.techDescription .infografic .img_wrap {
		width: 100%;
		height: 350px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	section.techDescription .infografic .img_wrap img {
		top: 0;
	}
	section.techDescription:after {
		bottom: 564px;
	}
	section.techDescription .icon_wrap {
		width: 100%;
		padding-top: 45px;
	}
	section.techDescription .text_wrap {
		background: none;
		background-color: #f2f6f7;
	}
	section.techDescription .text_wrap p {
		width: 100%;
		max-width: 500px;
	}
	.use_block.first {
		display: block;
		width: 100%;
		background-color: transparent;
		height: 60px;
		margin-bottom: 20px;
	}
	.use_block.first .overlay {
		background-color: transparent;
	}
	.use_block.first .overlay:after {
		display: none;
	}
	.use_block.first .overlay .title {
		color: #1b1b1b;
		padding-left: 0;
	}
	.use_block.first .overlay .title:before {
		display: none;
	}
	.use_block {
		width: 47.5%;
    	height: 270px;
	}
	.use_block .overlay {
		top: 230px;
		padding-top: 13px;
	}
	.use_block:nth-child(2), .use_block:nth-child(5),.use_block:nth-child(6), .use_block:nth-child(8), .use_block:nth-child(10) {
		margin-left: 0;
	}
	.use_block:nth-child(5), .use_block:nth-child(7), .use_block:nth-child(9) {
		margin-left: 1.6%;
	}
	.use_block:nth-child(9) {
		margin-bottom: 1.3vw;
	}
	.use_block .overlay p {
		margin-top: 10px;
	}
	section.description .container {
		flex-direction: column;
	}
	section.description .video_wrap {
		width: 100%;
		height: 50vw;
	}
	section.description .text_wrap {
		width: 100%;
		padding-right: 0;
	}
	section.description:after {
		bottom: 0;
	}
	section.description {
		background: linear-gradient(to bottom, rgba(242,246,246,1) 0%, rgba(242,246,246,1) 55%, rgba(255,255,255,1) 55.001%, rgba(255,255,255,1) 100%);
	}
}
@media all and (max-width: 768px) {
	section.techDescription .container_wide {
		padding: 0;
	}
	section.techDescription .icon_wrap {
		padding-left: 20px;
		padding-right: 20px;
	}
	header.main_header .seo_text p,
	section.techDescription .text_wrap h2 {
		width: 100%;
	}
	.use_block, .use_block.narrow {
		width: 48.5%;
	}
}
@media all and (max-width: 640px) {
	.slick-prev, .slick-next {
		width: 10px;
		height: 25px;
	}
	section.partners .partner_block img,section.partners .slider_wrap {
		height: 50px;
	}
	.use_block, .use_block.narrow {
		height: 210px;
	}
	.use_block .overlay, .use_block.narrow .overlay {
		top: 165px;
	}
	.use_block.narrow .overlay p:nth-child(2) {
		margin-top: 15px;
	}
}
@media all and (max-width: 620px)  {
	footer .contacts, footer .social {
		width: 49%;
	}
	section.techDescription:after,
	section.description:after {
		width: 50%;
	}
	.use_block, .use_block.narrow {
		width: 100%;
		margin-left: 0 !important;
		height: 235px;
	}
	.use_block .overlay, .use_block.narrow .overlay {
		top: 192px;
	}
}
@media all and (max-width: 520px) {
	header.main_header .seo_text h1 {
		font-size: 32px;
		margin-top: 40px;
	}
	header.main_header .seo_text p {
		font-size: 24px;
		margin-bottom: 30px;
	}
	header.main_header .seo_text a {
		width: 220px;
	}
	header.main_header .topbar .logo_wrap {
		margin-right: 150px;
	}
	header.main_header .advantages .adv_block {
		width: 49%;
		margin-left: 0;
	}
	section.description,section.techDescription .text_wrap {
		padding-top: 30px;
	}
	.use_block.first {
		margin-top: 20px;
	}
	.use_block, .use_block.narrow {
		margin-bottom: 15px;
	}
	.use_block:last-child {
		margin-bottom: 0;
	}
	section.techDescription .infografic .img_wrap {
		height: 300px;
	}
	section.techDescription .icon_block {
		width: 100%;
		margin-left: 0;
	}
	section.techDescription .icon_block {
		margin-bottom: 20px;
	}
	section.techDescription:after {
		bottom: 795px;
	}
}
@media all and (max-width: 420px) {
	header.main_header .seo_text h1 {
		margin-top: 0;
		font-size: 24px;
	}
	header.main_header .seo_text p {
		font-size: 18px;
	}
	header.main_header .seo_text a {
		height: 40px;
		border-radius: 20px;
		font-size: 14px;
		width: 190px;
	}
	header.main_header .seo_text a i {
		width: 20px;
		height: 20px;
		line-height: 17px;
		margin-right: 10px;
		font-size: 14px;
	}
	header.main_header .advantages .adv_block img {
		width: 30px;
	}
	header.main_header .advantages .adv_block p {
		font-size: 11px;
	}
	main.main_page h2,.use_block.first .overlay .title {
		font-size: 22px;
	}
	main.main_page p {
		font-size: 12px;
	}
	main.main_page .divider_horizontal {
		margin: 20px 0;
		position: relative;
		left: -20px;
	}
	section.description .text_wrap p:last-child {
		display: none;
	}
	section.description .video_wrap {
		margin-top: 0;
	}
	section.techDescription .text_wrap {
		padding-bottom: 0;
	}
	section.partners .slider_wrap {
		padding: 0 20px;
	}
	section.partners .partner_block img, section.partners .slider_wrap {
		height: 40px;
	}
	section.partners {
		padding-bottom: 40px;
		padding-top: 40px;
	}
	section.techDescription .icon_block p {
		font-size: 11px;
	}
	section.techDescription .infografic .img_wrap {
		height: 180px;
	}
	section.techDescription:after {
		height: 15px;
		bottom: 810px;
	}
	main.main_page h2, .use_block.first .overlay .title {
		font-size: 20px;
		padding-right: 0;
	}
	header.main_header .topbar .logo_wrap {
		margin-right: 75px;
	}
}